.white {
  color: #fff;
}

.button {
  border: none;
  border-radius: 8px;
}

.button__gray {
  background-color: gray;
}

.button__blue {
  background-color: #7b68ee;
}

.buttons__form {
  display: grid;
  gap: 10px;
}

.operating__btn {
  display: grid;
  gap: 10px;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 40px;
}

.grid2 {
  display: grid;
  grid-template-columns: 240px 70px;
}

.digits__btn {
  display: grid;
  gap: 10px;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 40px 40px 40px 40px;
  grid-row-end: auto;
}

.grid3 {
  display: grid;
  gap: 10px;
  grid-template-columns: 70px;
  grid-template-rows: 40px 139px;
}

.function__btn {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
